@charset "UTF-8";


/* q3が終わったら
q4のcssはq4フォルダの中のcssファイルに記述してください */


/* 各BOX用CSS */

.q3box {
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  line-height: 100px;
}

.one {
  background: #ffefd3;
  left: 200px;
  top: 40px;
  z-index: 10;
}

.two {
  background: #7084de;
  top: 120px;
  left: 280px;
  z-index: 20;
}


.three {
  background: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 30;
}

.four {
  background: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 40;
}

.five {
  background: #9fd6d2;
  left: 200px;
  top: 360px;
  z-index: 50;
}

.six {
  background: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 60;
}

.seven {
  background: #deae70;
  top: 200px;
  left: 40px;
  z-index: 70;
}

.eight {
  background: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 80;
}

.eight::after {
  content: '';
  background: #ffefd3;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 80px;
}

/* スクロール用のCSS */

.q3_fixed_box {
  background: #eee;
  position: fixed;
  bottom: 50px ;
  right: 50px;
}

/* スクロール用BOX背景用のCSS */

.q3_box_background {
  background: #eee;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}