@charset "UTF-8";


/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */

.q2_table {
  width: 100%;
  table-layout: fixed;
}

.q2_table th {
  background: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 0px;
}

.q2_table td {
  background: #ecf1f2;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding: 10px 0px;
}

.q2_table ,.q2_table th ,.q2_table td {
  border: solid 1px #dedede;
}

tbody tr:last-child{
  border-top: dashed 2px  #000;
}
table tr:nth-child(odd) td {
  background: #ffffff;
}